@model FilmesAPI.Models.Root


<br />
<br />
<br />



<div class="d-flex align-items-center justify-content-center">
    <div class="card m-3" style="width: 28rem;" id="cor">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/original/@Model.poster_path" alt="Card image cap">

        <h1 class="card-title fw-bolder text-white text-center">@Model.title</h1>
        <br />
        <h3 class="text-center m-3">
            <i class='bx bx-star' style='margin-right: 8px;'></i>
            @Model.popularity
        </h3>
        <br />
        <i class='bx bx-dollar-circle' style='margin-right: 0 8px; font-size: 2em;'>Orçamento:</i>
        <h4 class="m-3"> $@string.Format("{0:n}", Model.budget)</h4>

        <i class='bx bxs-hourglass' style='margin-right:  8px; font-size: 2em;'>Duração:</i>
        <h5 class="m-3"> @Model.runtime Minutos</h5>
        
        <i class='bx bx-bar-chart-alt' style="margin-right:  8px; font-size: 2em;">Receita:</i>
        <h5 class="m-3"> $@string.Format("{0:n}", Model.revenue)</h5>
        <br />


        <i class='bx bx-detail' style="margin-right:  8px; font-size: 2em;">Descrição:</i>
        <h5 class="card-text text-white m-3">@Model.overview</h5>

    </div>
    <br />
    <br />

</div>
<br />
