@model FilmesAPI.Models.Root


<!-- MAIN CONTAINER -->
<section class="main-container">
    <div class="location" id="home">
        <h1 id="home">POPULARES</h1>
        <div class="box">
            @foreach (var item in ViewData["PopularFilmes"] as List<Result>)
            {
                <a asp-action="Details" asp-controller="Home" asp-route-id="@item.id">
                    <img src="https://image.tmdb.org/t/p/w185/@item.poster_path" alt="Poster do Filme">
                </a>
            }
            
        </div>
    </div>


    <h1 id="myList">MAIS VOTADOS</h1>
    <div class="box">
        @foreach (var item in ViewData["TopRatedFilmes"] as List<Result>)
        {
            <a asp-action="Details" asp-controller="Home" asp-route-id="@item.id">
                <img src="https://image.tmdb.org/t/p/w185/@item.poster_path" alt="Poster do Filme">
            </a>
        }
    </div>

    <h1 id="tvShows">EM CARTAZ</h1>
    <div class="box">
        @foreach (var item in ViewData["NowPlayingFilmes"] as List<Result>)
        {
            <a asp-action="Details" asp-controller="Home" asp-route-id="@item.id">
                <img src="https://image.tmdb.org/t/p/w185/@item.poster_path" alt="Poster do Filme">
            </a>
        }
    </div>


    
</section>


