@model FilmesAPI.Models.Root

<section class="main-container">
    <div class="location" id="home">
        <h1 id="home">Filmes do   @ViewData["searchString"]</h1>
        <div class="box">
            @foreach (var item in Model.results!)
            {
                <a asp-action="Details" asp-controller="Home" asp-route-id="@item.id">

                    <img src="https://image.tmdb.org/t/p/w185/@item.poster_path" alt="Poster do Filme">

                </a>
            }
        </div>
    </div>

</section>
